<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
	<meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
	<title>{% block title %}{{ settings.title|default('sylius.meta.frontend_title'|trans) }}{% endblock %}</title>

	<!-- stylesheets -->
	{# stylesheets... #}
	{% block stylesheets %}
	{% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
		'bundles/syliusweb/css/vendor/font-awesome.min.css'
		'bundles/syliusweb/css/vendor/ionicons.css'
		'bundles/syliusweb/css/vendor/entypo.css'
		'bundles/syliusweb/css/compiled/theme.css'
		'bundles/syliusweb/css/vendor/animate.css'
		'bundles/syliusweb/css/main.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
	{% endblock %}

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="home2">
	<header class="navbar navbar-inverse white" role="banner">
  		<div class="container">
		{% block header %}
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
      			<a href="{{ path('sylius_homepage') }}" class="navbar-brand" title="{{ 'sylius.logo'|trans }}"><span>{{ 'sylius.logo'|trans }}</span></a>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	    		{#<div class="masthead pull-right">
	                {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
	            </div>
	            <div class="currency-menu masthead pull-right">
	                {{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
	            </div>#}
	            
	            {#% block sidebar %}
                <h4>{{ 'sylius.shop_by'|trans }}</h4><br>
                {{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
                {{ render(url('sylius_partial_product_latest', {'limit': 5, 'template': 'SyliusWebBundle:Frontend/Product:latestSidebar.html.twig'})) }}
                {{ sonata_block_render({'name': '/cms/blocks/contact'}) }}

                    <h2>Links</h2>
                    <ul>
                    {% for child in cmf_children(cmf_find('/cms/pages')) %}
                        <li>
                            <a href="{{ path('sylius_page_show', {'id': child.name}) }}">{{ child.title|striptags }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endblock %#}
                
      			<ul class="nav navbar-nav navbar-right">
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Browse Rings
          					<i class="fa fa-chevron-down"></i>
          				</a>
          				<ul class="dropdown-menu">
          					<li><a href="#">Ring category 1</a></li>
							<li><a href="#">Ring category 2</a></li>
							<li><a href="#">Ring category 3</a></li>
				        </ul>
        			</li>
        			<li class="dropdown">
        				<a href="#">How it works</a>
        			</li>
        			<li class="dropdown">
        				<a href="#">Diamond education</a>
        			</li>
        			<li>
          				<a href="#" class="signup visible-md visible-lg">My account</a>
        			</li>
        			<li>
          				<a href="#" class="signup visible-md visible-lg">Sign up free</a>
        			</li>
        			<li>
          				<a href="#" class="signup visible-md visible-lg">Go to cart</a>
        			</li>
      			</ul>
    		</nav>
    	{% endblock %}
  		</div>
	</header>
	
	{% block flashes %}
		{% for type in ['success', 'error', 'fos_user_success'] %}
			{% for flash in app.session.flashbag.get(type) %}
	<div class="alert alert-{{ type == 'fos_user_success' ? 'success' : type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
		<a class="close" data-dismiss="alert" href="#">×</a>
		{{ flash|trans }}
	</div>
			{% endfor %}
		{% endfor %}
	{% endblock %}
	
	{% block main %}
	{% block content %}
	{% endblock %}
	{% endblock %}

	{% block gallery %}
		{# Gallery modal #}
		{% include 'SyliusWebBundle::gallery.html.twig' %}
	{% endblock %}

	{# Confirmation modal #}
	{% include 'SyliusWebBundle::confirm-modal.html.twig' %}
        
	{% block footer %}
	<div id="footer-white">
		<div class="container">
			<div class="row">
            {% for i in 1..3 %}
                <div class="col-md-4">
                    {{ sonata_block_render({'name': '/cms/blocks/block-' ~ i}) }}
                </div>
            {% endfor %}
        	</div>
			<div class="row">
				<div class="col-sm-3 menu">
					<h3>Legemdary</h3>
					<ul>
	      				<li><a href="#">How it works</a></li>
	        			<li><a href="#">Free shipping</a></li>
	        			<li><a href="#">Policies</a></li>
	      			</ul>
				</div>
				<div class="col-sm-3 menu">
					<h3>About us</h3>
					<ul>
	      				<li><a href="#">Our story</a></li>
	        			<li><a href="#">Our blog</a></li>
	        			<li><a href="#">Testimonials</a></li>
	        			<li><a href="#">Giving back</a></li>
	      			</ul>
				</div>
				<div class="col-sm-2 menu">
					<h3>Help</h3>
					<ul>
	      				<li><a href="#">Diamond education</a></li>
	        			<li><a href="#">Speak with a Gemologist</a></li>
	        			<li><a href="#">Contact us</a></li>
	      			</ul>
				</div>
				<div class="col-sm-4 newsletter">
					<div class="signup clearfix">
						<p>
							Sign up for the newsletter and we'll inform you of updates, offers and more.
						</p>
						<form>
							<input type="text" name="email" class="form-control" placeholder="Your email address" />
							<input type="submit" value="Sign up" />
						</form>
					</div>
					<a href="#">
						<img src="{{ asset('bundles/syliusweb/images/social/tw.png') }}" alt="twitter" />
					</a>
					<a href="#">
						<img src="{{ asset('bundles/syliusweb/images/social/fb.png') }}" alt="dribbble" />
					</a>
				</div>
			</div>
			<div class="row credits">
				<div class="col-md-12">
					Copyright © {{ 'now'|date('Y') }}. Legemdary.
				</div>
				{#{ knp_menu_render('sylius.frontend.social', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }#}
			</div>
		</div>
	</div>
	{% endblock %}

	<!-- javascript -->
	{# javascripts... #}
	{% block javascripts %}
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	{% javascripts output='assets/compiled/frontend.js'
		'bundles/syliusweb/js/bootstrap/bootstrap.min.js'
		'bundles/syliusweb/js/theme.js'
		'bundles/syliusweb/js/frontend.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% endblock %}
	<script type="text/javascript">
		$(function () {
			var $navDots = $("#hero nav a")
			var $next = $(".slide-nav.next");
			var $prev = $(".slide-nav.prev");
			var $slides = $("#hero .slides .slide");
			var actualIndex = 0;
			var swiping = false;
			var interval;

			$navDots.click(function (e) {
				e.preventDefault();
				if (swiping) { return; }
				swiping = true;

				actualIndex = $navDots.index(this);
				updateSlides(actualIndex);
			});

			$next.click(function (e) {
				e.preventDefault();
				if (swiping) { return; }
				swiping = true;

				clearInterval(interval);
				interval = null;

				actualIndex++;
				if (actualIndex >= $slides.length) {
					actualIndex = 0;
				}

				updateSlides(actualIndex);
			});

			$prev.click(function (e) {
				e.preventDefault();
				if (swiping) { return; }
				swiping = true;

				clearInterval(interval);
				interval = null;

				actualIndex--;
				if (actualIndex < 0) {
					actualIndex = $slides.length - 1;
				}

				updateSlides(actualIndex);
			});

			function updateSlides(index) {
				// update nav dots
				$navDots.removeClass("active");
				$navDots.eq(index).addClass("active");

				// update slides
				var $activeSlide = $("#hero .slide.active");
				var $nextSlide = $slides.eq(index);

				$activeSlide.fadeOut();
				$nextSlide.addClass("next").fadeIn();
				
				setTimeout(function () {
					$slides.removeClass("next").removeClass("active");
					$nextSlide.addClass("active");
					$activeSlide.removeAttr('style');
					swiping = false;
				}, 1000);
			}


			interval = setInterval(function () {
				if (swiping) { return; }
				swiping = true;

				actualIndex++;
				if (actualIndex >= $slides.length) {
					actualIndex = 0;
				}

				updateSlides(actualIndex);
			}, 5000);

			// demo player
			var $videoModal = $(".video-modal");
			$("#demo-player").click(function () {
				$videoModal.toggleClass("active");
				clearInterval(interval);
				interval = null;
			});
			$videoModal.click(function () {
				$videoModal.removeClass("active");
				setTimeout(function () {
					$videoModal.find(".wrap").html('<iframe width="560" height="315" src="//www.youtube.com/embed/PR-zqVl6xKk" frameborder="0" allowfullscreen></iframe>');
				}, 1000);
			})
			$videoModal.find(".wrap").click(function (e) {
				e.stopPropagation();
			});
		});
	</script>
</body>
</html>
