{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% set form = sylius_cart_form({'product': product}) %}

{% block content %}
<div id="portfolio-item">
	<div id="showcase">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<a href="#"><h3>« Back to browse rings</h3></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<h1>{{ product.name }}</h1>
						<div class="col-md-8 screens">
							<div class="col-md-3">
								{% for image in product.images %}
            					<a href="#" class="thumb" data-image="{{ image.path|imagine_filter('sylius_medium') }}"><img src="{{ image.path|imagine_filter('sylius_small') }}" alt="{{ product.name }}" class="img-responsive" /></a>
    							{% endfor %}
    							{% if(product.video) %}
    							<a href="#" class="thumb" data-video="{{ asset('media/video/'~product.video) }}"><img src="{{ asset('bundles/syliusweb/images/playerPreview.png') }}" class="img-responsive" /></a>
    							{% endif %}
							</div>
							<div class="col-md-9 mainPicture">
            					<img src="{{ product.image.path|imagine_filter('sylius_medium') }}" alt="{{ product.name }}" class="img-responsive" />
							</div>														
						</div>
						<div class="col-md-4 description">
							<div class="info">
								<p>
									<strong>{{ 'sylius.product.description'|trans }}:</strong>
									{{ product.description|default('sylius.product.no_description')|trans|raw }}
								</p>
								{% if product.attributes|length > 0 %}
								{% for attribute in product.attributes %}
								<p>
									<strong>{{ attribute.presentation }}:</strong>
									{{ attribute.value }}
								</p>
								{% endfor %}
								{% endif %}
							</div>
							<form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" id="productForm">
							{% if product.hasVariants %}
								{% if not product.isVariantSelectionMethodChoice %}
								{% for variantOption in form.variant %}
								<div class="form-group">
    								{{ form_label(variantOption, null, {'override_attr': 'true'}) }}
    								{{ form_widget(variantOption) }}
  								</div>
			    				{% endfor %}
								{% endif %}
								<div class="hide">
				            		{{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
				            		{{ form_widget(form._token) }}
								</div>
							{% endif %}
				                <button type="submit" class="button">Choose this ring</button>
							</form>					
						</div>
					</div>
				</div>
			</div>
			<div class="customizable modal fade">
		    	<h1>Choose your diamond's carat</h1>
    			<div>
    				<div id="caratSlider"></div>
    			</div>
			</div>
			{# <div class="row">
    			<form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix form-horizontal">
    				{% if product.hasVariants %}
        			<div class="col-md-6">
            			{% if product.isVariantSelectionMethodChoice %}
            			
            			{% else %}
                		<div class="well clearfix">
                    		{{ form_widget(form.variant) }}
                		</div>
            			{% endif %}
        			</div>
    				{% endif %}
    			
    				<div class="col-md-6 pull-right">
        				{% if not product.hasVariants and not sylius_inventory_is_available(product.masterVariant) %}
            			<span class="label label-warning">{{ 'sylius.out_of_stock'|trans }}</span>
        				{% else %}
            			{{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
            			{{ form_widget(form._token) }}
            			<br>
            			<br>
	            			{% if sylius_is_restricted(product) %}
	            		<button disabled="disabled" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.product_not_available_in_zone'|trans }}</button>
	            			{% else %}
	                	<button type="submit" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.add_to_cart'|trans }}</button>
	            			{% endif %}
        				{% endif %}
    				</div>
				</form>
			</div>#}
		</div>
	</div>
</div>
{% endblock %}
