{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% set form = sylius_cart_form({'product': product}) %}

{% block main %}
<div id="portfolio-item">
	<div id="showcase">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<a href="{{ path('sylius_product_index') }}"><h3>« Back to browse rings</h3></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<h1>{{ product.name }}</h1>
						<div class="col-md-8 screens">
							<div class="col-md-3">
								{% for image in product.images %}
            					<a href="#" class="thumb" data-image="{{ image.path|imagine_filter('sylius_medium') }}"><img src="{{ image.path|imagine_filter('sylius_small') }}" alt="{{ product.name }}" class="img-responsive" /></a>
    							{% endfor %}
    							{% if(product.video) %}
    							<a href="#" class="thumb" data-video="{{ asset('media/video/'~product.video) }}"><img src="{{ asset('bundles/syliusweb/images/playerPreview.png') }}" class="img-responsive" /></a>
    							{% endif %}
							</div>
							<div class="col-md-9 mainPicture">
            					<img src="{{ product.image.path|imagine_filter('sylius_medium') }}" alt="{{ product.name }}" class="img-responsive" />
							</div>														
						</div>
						<div class="col-md-4 description">
							<div class="info">
								<p>
									<strong>{{ 'sylius.product.description'|trans }}:</strong>
									{{ product.description|default('sylius.product.no_description')|trans|raw }}
								</p>
								{% if product.attributes|length > 0 %}
								{% for attribute in product.attributes %}
								<p>
									<strong>{{ attribute.presentation }}:</strong>
									{{ attribute.value }}
								</p>
								{% endfor %}
								{% endif %}
							</div>
							<form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" id="productForm">
								{% if product.hasVariants %}
								{% if not product.isVariantSelectionMethodChoice %}
								{% for variantOption in form.variant %}
								<div class="form-group" data-title="You must select a {{ variantOption.vars.label }}" data-trigger="monual" data-placement="left">
    								{{ form_label(variantOption, null, {'override_attr': 'true'}) }}
    								{{ form_widget(variantOption, {'empty_value': 'Select a ' ~ variantOption.vars.label}) }}
    								<p>{#{ variantOption.price }#}</p>
  								</div>
			    				{% endfor %}
								{% endif %}
								<div class="hide">
				            		{{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
				            		{{ form_widget(form._token) }}
								</div>
								{% endif %}
							
								<div class="hide">
								{% set metalIndex = 0 %}
								{% set lastMetalValueId = 0 %}
								{% for variant in product.variants if variant.available %}
	                            	{% for option in variant.options if option.name == 'metal' %}
	                                	{% if(option.name=='metal' and lastMetalValueId != option.id) %}
	                                	<span id="metal_price_{{ metalIndex }}" data-price="{{ sylius_calculate_price(variant)|sylius_price }}"></span>
	                                	{%  set metalIndex = metalIndex+1 %}
	                                	{%  set lastMetalValueId = option.id %}
	                                	{% endif %}
	                            	{% endfor %}
	                    		{% endfor %}
								</div>
								
								<input type="hidden" name="diamond[carat]" value="0.4">
		    					<input type="hidden" name="diamond[color]" value="">
		    					<input type="hidden" name="diamond[clarity]" value="">
		    					<input type="hidden" name="diamond[cut]" value="">
		    					
								<p id="productPrice"><strong>Price: </strong><span class="price">$0</span></p>
                    		
                    			<a href="#" class="button chooseRingButton" data-pricing-matrix-url="{{ path('sylius_get_pricing_matrix') }}">Choose this ring</a>
				                <button type="submit" class="button submitButton">Define Your Diamond</button>
							</form>					
						</div>
					</div>
				</div>
			</div>
			
			<div id="wizardModal" class="modal fade">
				<button class="backButton" data-dismiss="modal">« Back to {{ product.name }}</button>
				<p class="approxPrice">Approx. Diamond Price: <span class="range"></span></p>
				
				<div class="customizable" style="background: #FFFFFF url({{ product.image.path|imagine_filter('sylius_medium') }}) no-repeat center 30px; background-size: contain;">
			    	<h1>Choose Your Diamond's Carat</h1>
	    			<div>
	    				<div class="col-md-6 selection caratSelection">
	    					<h4>Diamond Carat: 
	    						<input type="number" class="ctSelection" min="0.4" max="3" step="0.01" value="0.40">
	    					</h4>
		    				<div class="selectionContent clearfix">
		    					<span>0.40 ct</span>
			    				<div id="caratSlider"></div>
			    				<span>3.00 ct</span>
		    				</div>
	    				</div>
	    				<div class="col-md-5 col-md-offset-1 explanation">
	    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin cursus augue sit amet mollis. Fusce vestibulum egestas augue, in dignissim odio elementum eget. Vivamus in convallis nunc. Ut fermentum placerat nisi sit amet accumsan. Aenean eget tortor nulla. Maecenas a ultricies enim, ac condimentum nisi. In gravida ligula nec ullamcorper vulputate. Donec rhoncus nibh lectus, ut venenatis turpis facilisis nec. Ut pharetra, nisi nec rutrum vehicula, risus mauris volutpat tortor, eu mollis sem lacus id est. Etiam laoreet feugiat nisi tempor consequat. Nam consectetur viverra vehicula.</p>
	    				</div>
	    			</div>
	    			<h1>Choose Your Diamond's Color</h1>
	    			<div>
	    				<div class="col-md-6 selection colorSelection">
	    					<h4>Diamond Color:</h4>
		    				<div class="selectionContent choice clearfix" data-selection="color">
			    				<div>D</div>
			    				<div>E</div>
			    				<div>F</div>
			    				<div>G</div>
			    				<div>H</div>
			    				<div>I</div>
			    				<div>J</div>
		    				</div>
	    				</div>
	    				<div class="col-md-5 col-md-offset-1 explanation">
	    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin cursus augue sit amet mollis. Fusce vestibulum egestas augue, in dignissim odio elementum eget. Vivamus in convallis nunc. Ut fermentum placerat nisi sit amet accumsan. Aenean eget tortor nulla. Maecenas a ultricies enim, ac condimentum nisi. In gravida ligula nec ullamcorper vulputate. Donec rhoncus nibh lectus, ut venenatis turpis facilisis nec. Ut pharetra, nisi nec rutrum vehicula, risus mauris volutpat tortor, eu mollis sem lacus id est. Etiam laoreet feugiat nisi tempor consequat. Nam consectetur viverra vehicula.</p>
	    				</div>
	    			</div>
	    			<h1>Choose Your Diamond's Clarity</h1>
	    			<div>
	    				<div class="col-md-6 selection claritySelection">
	    					<h4>Diamond Clarity:</h4>
		    				<div class="selectionContent choice clearfix" data-selection="clarity">
			    				<div>IF</div>
			    				<div>VVS1</div>
			    				<div>VVS2</div>
			    				<div>VS1</div>
			    				<div>VS2</div>
			    				<div>SI1</div>
			    				<div>SI2</div>
		    				</div>
	    				</div>
	    				<div class="col-md-5 col-md-offset-1 explanation">
	    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin cursus augue sit amet mollis. Fusce vestibulum egestas augue, in dignissim odio elementum eget. Vivamus in convallis nunc. Ut fermentum placerat nisi sit amet accumsan. Aenean eget tortor nulla. Maecenas a ultricies enim, ac condimentum nisi. In gravida ligula nec ullamcorper vulputate. Donec rhoncus nibh lectus, ut venenatis turpis facilisis nec. Ut pharetra, nisi nec rutrum vehicula, risus mauris volutpat tortor, eu mollis sem lacus id est. Etiam laoreet feugiat nisi tempor consequat. Nam consectetur viverra vehicula.</p>
	    				</div>
	    			</div>
	    			<h1>Choose Your Diamond's Cut</h1>
	    			<div>
	    				<div class="col-md-6 selection cutSelection">
	    					<h4>Diamond Cut:</h4>
		    				<div class="selectionContent choice clearfix" data-selection="cut">
			    				<div>IDEAL</div>
			    				<div>EXCELLENT</div>
			    				<div>VERY GOOD</div>
			    				<div>GOOD</div>
		    				</div>
	    				</div>
	    				<div class="col-md-5 col-md-offset-1 explanation">
	    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin cursus augue sit amet mollis. Fusce vestibulum egestas augue, in dignissim odio elementum eget. Vivamus in convallis nunc. Ut fermentum placerat nisi sit amet accumsan. Aenean eget tortor nulla. Maecenas a ultricies enim, ac condimentum nisi. In gravida ligula nec ullamcorper vulputate. Donec rhoncus nibh lectus, ut venenatis turpis facilisis nec. Ut pharetra, nisi nec rutrum vehicula, risus mauris volutpat tortor, eu mollis sem lacus id est. Etiam laoreet feugiat nisi tempor consequat. Nam consectetur viverra vehicula.</p>
	    				</div>
	    			</div>
	    			<h1>Review Your Diamond</h1>
	    			<div>
	    				<div class="col-md-6 selection reviewDiamond">
	    					<h4>Your Diamond Selection</h4>
		    				<div class="selectionContent review">	
			    				<div class="carat clearfix">
			    					<div class="label">Carat</div>
			    					<div class="value">0.40</div>
			    				</div>
			    				<div class="color clearfix">
			    					<div class="label">Color</div>
			    					<div class="value">-</div>
			    				</div>
			    				<div class="clarity clearfix">
			    					<div class="label">Clarity</div>
			    					<div class="value">-</div>
			    				</div>
			    				<div class="cut clearfix">
			    					<div class="label">Cut</div>
			    					<div class="value">-</div>
			    				</div>
		    				</div>
	    				</div>
	    				<div class="col-md-5 col-md-offset-1 explanation">
	    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin cursus augue sit amet mollis. Fusce vestibulum egestas augue, in dignissim odio elementum eget. Vivamus in convallis nunc. Ut fermentum placerat nisi sit amet accumsan. Aenean eget tortor nulla. Maecenas a ultricies enim, ac condimentum nisi. In gravida ligula nec ullamcorper vulputate. Donec rhoncus nibh lectus, ut venenatis turpis facilisis nec. Ut pharetra, nisi nec rutrum vehicula, risus mauris volutpat tortor, eu mollis sem lacus id est. Etiam laoreet feugiat nisi tempor consequat. Nam consectetur viverra vehicula.</p>
	    				</div>
	    			</div>
				</div>
				
				<ol class="carousel-indicators">
        			<li data-step="1" class="step1 active"></li>
        			<li data-step="2" class="step2"></li>
        			<li data-step="3" class="step3"></li>
        			<li data-step="4" class="step4"></li>
        			<li data-step="5" class="step5"></li>
      			</ol>
			</div>
		</div>
		
		<div id="pricing">
			<div class="container">
				<div class="row header">
					<div class="col-md-12">
						<h3 class="centerHeader">Example value points</h3>
					</div>
				</div>
				<div id="support">
					<div id="browse">
						<div class="row">
							<div class="col-sm-4 topic">
								<a href="#">
									<span class="icon ion-clipboard"></span>
									<strong>Free shipping</strong>
								</a>
								<p>
									Request bids for Your diamond selection. Vendors compete for your business.
								</p>
							</div>
							<div class="col-sm-4 topic">
								<a href="#">
									<span class="icon ion-gear-a"></span>
									<strong>Risk Free</strong>
								</a>
								<p>
									Our streamlined, process makes it easy to create a ring and get bids.
								</p>
							</div>
							<div class="col-sm-4 topic">
								<a href="#">
									<span class="icon ion-card"></span>
									<strong>30 Days Returns</strong>
								</a>
								<p>
									Learn how to change tasks and assign projects to all your teammates.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 topic">
								<a href="#">
									<span class="icon ion-person-stalker"></span>
									<strong>Risk free buying</strong>
								</a>
								<p>
									30 Days Full Refund Returns and Free Shipping.
								</p>
							</div>
							<div class="col-sm-4 topic">
								<a href="#">
									<span class="icon ion-upload"></span>
									<strong>24/7 professional support</strong>
								</a>
								<p>
									Speak with a Professional Geomologist with years of industry experience
								</p>
							</div>
							<div class="col-sm-4 topic">
								<a href="#">
									<span class="icon ion-compose"></span>
									<strong>Lorem ipsum sit amet</strong>
								</a>
								<p>
									Learn how to change tasks and assign projects to all your teammates.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}