{% set product = item.product %}
<tr>
    <td>{{ loop.index }}</td>
    <td>
        {{ include('SyliusWebBundle:Frontend/Product:_variant.html.twig', {'variant': item.variant}) }}
        <ul class="list-unstyled">
			<li><strong>Diamond Carat</strong>: {{ item.diamondBid.carat }}</li>
			<li><strong>Diamond Color</strong>: {{ item.diamondBid.color }}</li>
			<li><strong>Diamond Clarity</strong>: {{ item.diamondBid.clarity }}</li>
			<li><strong>Diamond Cut</strong>: {{ item.diamondBid.cut }}</li>
			{% if item.diamondBid.pdf %}
			<li>
				<a href="{{ asset('media/pdf/'~item.diamondBid.pdf) }}" class="magnific" target="_blank"><img src="{{ asset('bundles/syliusweb/images/view-pdf-button.png') }}" class="img-responsive" style="display:inline; width: 100px;"></a>
			</li>
			{% endif %}
		</ul> 
    </td>
    <td>{{ item.quantity }}</td>
    <td>
        <span class="pull-right">
        {{ item.ringUnitPrice|sylius_money }}
        </span>
    </td>
    <td>
        <span class="pull-right">
        {{ item.diamondBid.pricePlusFee|sylius_money }}
        </span>
    </td>
    <td>
        <span class="pull-right">
        {{ item.total|sylius_money }}
        </span>
    </td>
</tr>
