{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="blog">
<div id="posts">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
			{% for post in posts %}
				<div class="post">
					<a href="{{ path('legemdary_blog_post', {'id': post.id}) }}" class="pic">
						<img src="{{ post.image ? asset('media/image/'~post.image) : 'http://placehold.it/120x120' }}" class="img-responsive" alt="blogpost" />
					</a>

					<div class="title">
						<a href="{{ path('legemdary_blog_post', {'id': post.id}) }}">{{ post.title }}</a>
					</div>
					
					<div class="author">
						{{ post.createdAt|localizeddate('long', 'none', null, null, "MMMM dd, yyyy") }}
					</div>
					
					<p class="intro">
						{{ post.text }}
					</p>
					
					<a href="{{ path('legemdary_blog_post', {'id': post.id}) }}" class="continue-reading">Continue reading this post</a>
				</div>
			{% endfor %}

				<!-- <div class="pages">
					<ul class="pagination">
						<li><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div> -->
			</div>
			
		</div>
	</div>
</div>
</div>
{% endblock %}