{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('gecko_legemdary_backend_post_index') }}">{{ 'legemdary.backend.breadcrumb.post.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'legemdary.backend.post.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('gecko_legemdary_backend_post_update', {'id': post.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    <input type="hidden" name="_method" value="PUT">
	{% include 'GeckoLegemdaryBundle:Backend/Post:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
