<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
	<meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{% block title %}{{ settings.title|default('sylius.meta.frontend_title'|trans) }}{% endblock %}</title>
	
	<!-- stylesheets -->
	{# stylesheets... #}
	{% block stylesheets %}
	{% stylesheets output='assets/compiled/comingsoon.css' filter='cssrewrite'
		'bundles/syliusweb/css/bootstrap/bootstrap.min.css'
		'bundles/syliusweb/css/vendor/ionicons.css'
		'bundles/syliusweb/css/compiled/theme.css'
		'bundles/syliusweb/css/main.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
	{% endblock %}
	
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
</head>
<body id="coming-soon" class="">
    <div class="container">
        <div class="row info">
            <div class="col-md-12">
                <h1><a href="#">Legemdary</a></h1>
                <h3>We're launching very soon.</h3>
            </div>
        </div>
    </div>
    
    <!-- javascript -->
	{# javascripts... #}
	{% block javascripts %}
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	{% javascripts output='assets/compiled/comingsoon.js'
		'bundles/syliusweb/js/bootstrap/bootstrap.min.js'
		'bundles/syliusweb/js/theme.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% endblock %}

    <script type="text/javascript">
        $(function () 
        {
            var clock;

            // Grab the current date
            var currentDate = new Date();

            // Set some date in the future. In this case, it's always Jan 1
            var futureDate  = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), currentDate.getHours() + 20);

            // Calculate the difference in seconds between the future and current date
            var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

            // Instantiate a coutdown FlipClock
            clock = $('#clock').FlipClock(diff, {
                countdown: true
            });
        });
    </script>
</body>
</html>