{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="contact-us">
<div id="map" style="height:300px;margin-top: 20px;">
	<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48355.90314813717!2d-73.9785638!3d40.75665900000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258fe60af1b37%3A0x375f8b798a3eb58f!2sNueva+York%2C+10036%2C+EE.+UU.!5e0!3m2!1ses-419!2sar!4v1412829479453"></iframe>
</div>
<div id="info">
	<div class="container">
		<div class="row">
			<div class="col-md-8 message">
				<h3>Send us a message</h3>
				<p>
					You can contact us with anything related to Legemdary. <br> We'll get in touch with you as soon as possible.
				</p>
				<form action="{{ path('sylius_contact') }}" role="form" id="contact-form" method="post" novalidate="novalidate">
					{{ form_errors(form) }}
					<div class="form-group">
			    		<label for="{{ form.name.vars.id }}">{{ form.name.vars.label }}</label>
						{{ form_widget(form.name) }}
						{{ form_errors(form.name) }}
			  		</div>
			  		<div class="form-group">
			    		<label for="{{ form.email.vars.id }}">{{ form.email.vars.label }}</label>
						{{ form_widget(form.email) }}
			  			{{ form_errors(form.email) }}
			  		</div>
			  		<div class="form-group">
			    		<label for="{{ form.phone.vars.id }}">{{ form.phone.vars.label }}</label>
						{{ form_widget(form.phone, {'attr': {'required': 'false'}}) }}
			  			{{ form_errors(form.phone) }}
			  		</div>
			  		<div class="form-group">
			    		<label for="{{ form.message.vars.id }}">{{ form.message.vars.label }}</label>
						{{ form_widget(form.message, {'attr': {'rows': 6}}) }}
			  			{{ form_errors(form.message) }}
						{{ form_rest(form) }}
			  		</div>
			  		<div class="submit">
			  			<input type="submit" class="button button-small" value="Email us">
			  		</div>
				</form>
			</div>
			<div class="col-md-4 contact">
				<div class="phone">
					<h3>By Phone</h3>
					<p>1-888-338-9721</p>
				</div>
				<div class="social">
					<a href="#" class="fb"><img src="{{ asset('bundles/syliusweb/images/social/fb.png') }}" alt="facebook"></a>
					<a href="#" class="tw"><img src="{{ asset('bundles/syliusweb/images/social/tw.png') }}" alt="twitter"></a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}