{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="hero">
	<a class="slide-nav prev" href="#">Prev</a>
	<a class="slide-nav next" href="#">Next</a>
	<nav>
		<a class="active" href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
	</nav>
	<div class="slides">
		<div class="slide first active">
			<div class="bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-8 info">
						<h1 class="hero-text">Best place for diamonds.</h1>
						<p>
							LeGEMdary is the best place for diamonds, where you can connect with qualified diamond vendors and source your diamond at the most competitive price.
						</p>
						<div class="cta">
							<a href="{{ path('sylius_product_index') }}" class="button-outline">
								BROWSE RINGS
								<i class="fa fa-chevron-right"></i>
							</a>
						</div>
					</div>
					<div class="col-sm-4 hidden-xs mobiles">
						<!-- <img src="images/static-hero.png" class="animated fadeInLeft" alt="devices" /> -->
						<img src="{{ asset('bundles/syliusweb/images/ring.png') }}" class="animated fadeInLeft img-responsive" alt="devices" />
					</div>
				</div>
			</div>
		</div>
		<div class="slide second">
			<div class="bg"></div>
			<div class="container">
				<h1 class="hero-text">How it works</h1>
				<p class="sub-text">
					Nullam tortor urna, posuere sit amet est vitae, pharetra rhoncus nisi. Cras eget ligula et urna lobortis vehicula. Vestibulum quis varius lorem. 
				</p>
				<div class="video-wrapper">
					<div class="video animated fadeInUp">
						<img src="{{ asset('bundles/syliusweb/images/player.jpg') }}" id="demo-player" alt="videoplayer" />
					</div>
				</div>
			</div>
		</div>
		<div class="slide third">
			<div class="bg"></div>
			<div class="container">
				<h1 class="hero-text animated fadeInLeft">
					Engagement proposal.
				</h1>
				<p class="sub-text animated fadeInLeft">
					Your engagement proposal is a milestone in your life. Make it a "leGEMdary" moment that she won't forget!
				</p>
			</div>
		</div>
	</div>

	<div class="video-modal">
		<div class="wrap">
			<iframe src="//www.youtube.com/embed/PR-zqVl6xKk" frameborder="0" allowfullscreen" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>

<div id="features">
<div id="showcase" class="showcase">
	<div class="container">
		<div class="row">
			<div class="col-md-12 pics">
				<a class="pic" href="#">
					<img src="{{ asset('bundles/syliusweb/images/blog1.png') }}" alt="blog1">
					<div class="bg">
						<p>How to survive in the big city</p>
					</div>
				</a>
				<a class="pic" href="#">
					<img src="{{ asset('bundles/syliusweb/images/blog2.png') }}" alt="blog2">
					<div class="bg">
						<p>How to develop scalable Rails apps</p>
					</div>
				</a>
				<a class="pic" href="#">
					<img src="{{ asset('bundles/syliusweb/images/blog3.png') }}" alt="blog3">
					<div class="bg">
						<p>Enjoy your life at the beach</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
</div>

<div id="testimonials" class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="testimonial pull-right">
					<div class="quote">
						I am just quoting some stuff but I am seriously happy about this product. It's just so much fun!
						<div class="arrow-down">
			                <div class="arrow"></div>
			                <div class="arrow-border"></div>
			            </div>
					</div>
					<div class="author">
						<img src="{{ asset('bundles/syliusweb/images/testimonials/testimonial1.jpg') }}" class="pic" alt="testimonial1">
						<div class="name">Erick Alvarez</div>
						<div class="company">Microsoft</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="testimonial">
					<div class="quote">
						This thing is one of those tools that everybody should be using. You can kickstart your projects and apps and just focus on your business!
						<div class="arrow-down">
			                <div class="arrow"></div>
			                <div class="arrow-border"></div>
			            </div>
					</div>
					<div class="author">
						<img src="{{ asset('bundles/syliusweb/images/testimonials/testimonial2.jpg') }}" class="pic" alt="testimonial2">
						<div class="name">Karen Jones</div>
						<div class="company">Pixar Co.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="pricing">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h3>How it works</h3>
			</div>
		</div>
		<div id="support">
			<div id="browse">
		
				<div class="row">
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-clipboard"></span>
							<strong>Competetive diamond quotes</strong>
						</a>
						<p>
							Request bids for Your diamond selection. Vendors compete for your business.
						</p>
					</div>
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-gear-a"></span>
							<strong>It's simple</strong>
						</a>
						<p>
							Our streamlined, process makes it easy to create a ring and get bids.
						</p>
					</div>
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-card"></span>
							<strong>Billing information</strong>
						</a>
						<p>
							Learn how to change tasks and assign projects to all your teammates.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-person-stalker"></span>
							<strong>Risk free buying</strong>
						</a>
						<p>
							30 Days Full Refund Returns and Free Shipping.
						</p>
					</div>
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-upload"></span>
							<strong>24/7 professional support</strong>
						</a>
						<p>
							Speak with a Professional Geomologist with years of industry experience
						</p>
					</div>
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-compose"></span>
							<strong>Lorem ipsum sit amet</strong>
						</a>
						<p>
							Learn how to change tasks and assign projects to all your teammates.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}