{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="hero">
	<a class="slide-nav prev" href="#">Prev</a>
	<a class="slide-nav next" href="#">Next</a>
	<nav>
		<a class="active" href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
	</nav>
	<div class="slides">
		<div class="slide first active">
			<div class="bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-8 info">
						<h1 class="hero-text">Shop from the Source</h1>
						<p>
							Make diamond wholesalers competitively bid for your business.
						</p>
						<div class="cta">
							<a href="{{ path('sylius_product_index') }}" class="button">
								SHOP RINGS
								<i class="fa fa-chevron-right"></i>
							</a>
						</div>
					</div>
					<div class="col-sm-4 hidden-xs mobiles">
						<!-- <img src="images/static-hero.png" class="animated fadeInLeft" alt="devices" /> -->
						<!--<img src="{{ asset('bundles/syliusweb/images/ring.png') }}" class="animated fadeInLeft img-responsive" alt="devices" /> -->
					</div>
				</div>
			</div>
		</div>
		<div class="slide second">
			<div class="bg"></div>
			<div class="container">
				<h1 class="hero-text">Focus on Your Moment</h1>
				<p class="sub-text">
					Easily create  your ring and receive bids. 
				</p>
				<br><br>
				<div class="cta" style="text-align: center;">
					<a href="{{ path('sylius_how_it_works') }}" class="button-outline">
						HOW IT WORKS
						<i class="fa fa-chevron-right"></i>
					</a>
				</div>
				<!--<div class="video-wrapper">
					<div class="video animated fadeInUp">
						 <img src="{{ asset('bundles/syliusweb/images/player.jpg') }}" id="demo-player" alt="videoplayer" />
					</div>
				</div> -->
			</div>
		</div>
		<div class="slide third">
			<div class="bg"></div>
			<div class="container">
				<h1 class="hero-text animated fadeInLeft">
					Big moment, big savings
				</h1>
				<p class="sub-text animated fadeInLeft">
					The diamond you want at the price you want.
				</p>
				<div class="cta animated fadeInRight">
					<a href="{{ path('sylius_product_index') }}" class="button-outline">Shop Rings</a>
					<a href="{{ path('fos_user_registration_register') }}" class="button">Sign up free</a>
				</div>
			</div>
		</div>
	</div>

	{#<div class="video-modal">
		<div class="wrap">
			<iframe src="//www.youtube.com/embed/PR-zqVl6xKk" frameborder="0" allowfullscreen" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>#}
</div>

<div id="features">
<div id="showcase" class="showcase">
	<div class="container">
		<div class="row">
			<div class="col-md-12 pics">
				<a class="pic" href="#">
					<img src="{{ asset('bundles/syliusweb/images/competitive-wholesale.jpg') }}" alt="competitive wholesale">
					<div class="bg">
						<p>Competitive Wholesale</p>
					</div>
				</a>
				<a class="pic" href="#">
					<img src="{{ asset('bundles/syliusweb/images/our-social-commitment.jpg') }}" alt="our social commitment">
					<div class="bg">
						<p>Our Social Commitment</p>
					</div>
				</a>
				<a class="pic" href="{{ path('sylius_diamond_education') }}">
					<img src="{{ asset('bundles/syliusweb/images/diamond-knowledge.jpg') }}" alt="diamond knowledge">
					<div class="bg">
						<p>Diamond Knowledge</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
</div>

<div id="testimonials" class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="testimonial pull-right">
					<div class="quote">
						Legemdary’s no-pressure purchasing process made it so much simpler and less stressful for me. Most importantly, my fiancée could not be happier with the ring!
						<div class="arrow-down">
			                <div class="arrow"></div>
			                <div class="arrow-border"></div>
			            </div>
					</div>
					<div class="author">
						<img src="{{ asset('bundles/syliusweb/images/testimonials/testimonial1.jpg') }}" class="pic" alt="testimonial1">
						<div class="name">Jason</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="testimonial">
					<div class="quote">
						She LOVES it! Thank you so much for making this such a pleasurable experience.  I was a little nervous at first, but couldn’t be happier.
						<div class="arrow-down">
			                <div class="arrow"></div>
			                <div class="arrow-border"></div>
			            </div>
					</div>
					<div class="author">
						<img src="{{ asset('bundles/syliusweb/images/testimonials/testimonial2.jpg') }}" class="pic" alt="testimonial2">
						<div class="name">Nick</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="pricing">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h3>How it works</h3>
			</div>
		</div>
		<div id="support">
			<div id="browse">
		
				<div class="row">
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-clipboard"></span>
							<strong>Competetive diamond quotes</strong>
						</a>
						<p>
							Request bids for Your diamond selection. Vendors compete for your business.
						</p>
					</div>
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-gear-a"></span>
							<strong>It's simple</strong>
						</a>
						<p>
							Our streamlined, process makes it easy to create a ring and get bids.
						</p>
					</div>
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-card"></span>
							<strong>Billing information</strong>
						</a>
						<p>
							Learn how to change tasks and assign projects to all your teammates.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-person-stalker"></span>
							<strong>Risk free buying</strong>
						</a>
						<p>
							30 Days Full Refund Returns and Free Shipping.
						</p>
					</div>
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-upload"></span>
							<strong>24/7 professional support</strong>
						</a>
						<p>
							Speak with a Professional Geomologist with years of industry experience
						</p>
					</div>
					<div class="col-sm-4 topic">
						<a href="#">
							<span class="icon ion-compose"></span>
							<strong>Lorem ipsum sit amet</strong>
						</a>
						<p>
							Learn how to change tasks and assign projects to all your teammates.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}