{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div id="gallery">
<div id="showcase" style="margin-bottom: 0;">
<div class="container">
	<div class="row header">
		<h3>Your diamond bid requests</h3>
	</div>
	
	<br><br>
	
    <div class="row">
        {% if bidRequests is not empty %}
        <table id="orders" class="table">
            <thead>
                <tr>
                	<th>Ring</th>
                    <th>Date</th>
                    <th>Carat</th>
                    <th>Color</th>
                    <th>Clarity</th>
                    <th>Cut</th>
                    <th>Bids</th>
                    <th>Time left</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for bidRequest in bidRequests %}
                    <tr class="order" id="order-{{ bidRequest.id }}">
                    	<td>{{ bidRequest.orderItem.variant.product.name }}</td>
                        <td>{{ bidRequest.createdAt|date }}</td>
                        <td>{{ bidRequest.carat }}</td>
                        <td>{{ bidRequest.color }}</td>
                        <td>{{ bidRequest.clarity }}</td>
                        <td>{{ bidRequest.cut }}</td>
                        <td>{{ bidRequest.diamondBids|length }}</td>
                        <td>
                        {% if bidRequest.isBidTimeout %}
                        	<span class="label label-danger">Time out</span>
                        {% elseif bidRequest.timeLeft %}
                        	<span class="timeleft label label-success" data-end-date="{{ bidRequest.timeLeft.format('D, d M Y H:i:s O') }}">--:--:--</span>
                        {% else %}
                        	<span class="label label-default">No bids yet</span>
                        {% endif %}
                        </td>
                        <td>
                        	{% if bidRequest.isBidTimeout %}
                        		<a href="{{ path('sylius_account_bids_resend', {'id': bidRequest.id}) }}" class="btn btn-default btn-sm">Resend Bid Request</a>
                        	{% elseif bidRequest.timeLeft %}
                        		<a href="{{ path('sylius_account_bids_select', {'id': bidRequest.id}) }}" class="btn btn-info btn-sm">Select a Bid</a>
                        	{% else %}
                        		<a href="#" class="btn btn-info disabled btn-sm">Select a Bid</a>
                        	{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You have placed no bids yet.</p>
        {% endif %}
    </div>
</div>
</div>
</div>
{% endblock %}
